/* Navbar */
.nav-link {
  font-size: 16px !important;
}
.navbar-brand {
  font-size: 26px !important;
}
main {
  min-height: 84vh;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

@media only screen and (min-width: 767px) {
  main {
    min-height: 88vh;
  }
}
header {
  margin-bottom: 50px;
}

/* footer */

.footer-link {
  color: rgb(123, 122, 120) !important;
}
.footer-link:hover {
  color: #000 !important;
}

/* text */
.new-line {
  white-space: pre-line;
}

.item-title {
  line-height: 1.6 !important;
  font-family: 'Scope One', serif;
  font-size: 2rem !important;
  margin-bottom: 2rem !important;
}

p {
  line-height: 1.9 !important;
}

.item-details-title {
  font-size: 1.3rem;
}
.price-card {
  font-weight: bold;
  font-size: 15px;
}

.in-stock {
  font-weight: bold;
}

/* buttons  */

.cart-button {
  font-size: 18px !important;
  margin: 30px 0px;
}

/* layout */
.container {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.card-shadow {
  transition: box-shadow 0.3s;
  float: left;
}
.card-shadow:hover {
  box-shadow: 0 0 11px rgba(29, 29, 29, 0.2);
}

/* like button on image */
.image-container {
  position: relative !important;
  text-align: center !important;
  color: white !important;
}

.heart-component {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 40px;
}

/* Link */
.link {
  color: rgb(123, 122, 120) !important;
}
.link:hover {
  color: #000 !important;
}

.form-link {
  margin-left: 5px;
}

.icon-link {
  color: rgb(123, 122, 120) !important;
  font-size: 1rem !important;
  margin-top: 30px;
  margin-left: 10px;
}

.icon-link:hover {
  color: #000 !important;
}
